
@{
    ViewBag.Title = "soru";
    Layout = "~/Views/admin/AdminLayout.cshtml";
}

<div class="col-sm-12">
    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="datatable-checkbox_info">
        <thead>
            <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="
" style="width: 3px;">
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-sort="ascending" aria-label=": sütunu azalan sıralamak için etkinleştir" style="width: 21px;"><input type="checkbox" id="check-all"></th>
                <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Ad: sütunu artan şekilde sıralamak için etkinleştirin" style="width: 111px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İsim</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Konum: artan sütunu sıralamak için etkinleştirin" style="width: 179px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Durum</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Ofis: artan sütunu sıralamak için etkinleştirin" style="width: 82px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ofis</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Yaş: artan sütunu sıralamak için etkinleştirin" style="width: 33px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yaş</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Başlangıç &#8203;&#8203;tarihi: artan sütunu sıralamak için etkinleştirin" style="width: 119px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Başlangıç &#8203;&#8203;tarihi</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Maaş: artan sütunu sıralamak için etkinleştirin" style="width: 63px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maaş</font></font></th>
            </tr>
        </thead>
        <tbody>


























































            <tr role="row" class="odd">
                <td>
                </td>
                <th class="sorting_1"><input type="checkbox" id="check-all"></th>

                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Colleen Hurst</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Javascript Geliştirici</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">San Francisco</font></font></td>
                <td>  <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a></td>


                <td>    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a></td>
                <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a></td>
            </tr>
            <tr role="row" class="even">
                <td>
                </td>
                <th class="sorting_1"><input type="checkbox" id="check-all"></th>

                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sonya Frost</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yazılım Mühendisi</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edinburg</font></font></td>
                <td>  <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a></td>


                <td>    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a></td>
                <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a></td>
            </tr>
        </tbody>
    </table>
</div>