
@{
    ViewBag.Title = "UrunDetay";
    Layout = "~/Views/admin/AdminLayout.cshtml";
}

<h2>UrunDetay</h2>
    <div class="col-md-9 col-sm-12  ">
        <form>
            M
            <input type="text" class="form-control" name="name" value="" />
            S
            <input type="text" class="form-control" name="name" value="" />
            F
            <input type="text" class="form-control" name="name" value="" />
            G
            <input type="text" class="form-control" name="name" value="" />
            F
            <input type="text" class="form-control" name="name" value="" />
            D
            <input type="text" class="form-control" name="name" value="" />
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Media Gallery <small> gallery design </small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-55">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                                        <div class="mask">
                                            <p>Your Text</p>
                                            <div class="tools tools-bottom">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>Snow and Ice Incoming for the South</p>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
            <input type="file" name="name" value="Yeni Ekle" />
            <a class="btn btn-app" style="float:right">
                <i class="fa fa-save"></i> Güncelle-Ekle
            </a>
        </form>
            </div>
