
@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}
<div class="row">
    <div class="col-sm-4 col-lg-3">
        <h3>Hakkımızda</h3>
        <ul class="sidebar-menu">
            <li class="active"><a href="~/Company/hakkimizda">Tiens Hakkında</a></li>

            <li>
                <a href="~/Company/kurumsal">kurumsal</a>

            </li>


        </ul>
        <div>
          
        </div>
    </div>
    <div class="col-sm-8 col-lg-9 order-lg-first">
        @*<ul class="share-list">
            <li><a href="https://www.facebook.com/share.php?u=http://detaambalaj.com/api/hakkimizda/Deta-hakkinda" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/intent/tweet?text=Tiens&amp;url=http://detaambalaj.com/api/hakkimizda/Deta-hakkinda" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://detaambalaj.com/api/hakkimizda/Deta-hakkinda&amp;title=Tiens" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>*@
        Ambalaj Sektörünün Zirvesinden
        <p>
            De-Ta Ambalaj ıslak mendil imalatı ile başladığı sektöre, çalışmalarını firmaların ihtiyaçlarına yönelik hizmet ve ürünler ile genişleten, reklam kalitelerini arttıran ve kendini sürekli geliştiren girişimci, yenilikçi ve sorumluluk taşıyan vizyoner ruhuyla 2006 yılında kurulmuştur. Ambalaj sektöründe başladığı stick şeker paketlemesine; kısa sürede ıslak mendil, küp şeker, baskılı sıvı ve kuru dolum, baskılı peçete ve ikram seti, üretim alanlarını da ekleyerek sektörde iddaalı bir konuma gelmeyi hedeflemiştir.<br>
            <br>
            Kısa sürede gerçekleşen bu hızlı büyüme, zamanla istikrara dönüşmüş ve De-Ta Ambalaj sektörünün saygın ve güvenilir kuruluşları arasındaki yerini almıştır. Şirketimiz ürünlerini son sistem otamatik makinelerde el değmeden hijyenik koşullarda üretmektedir. Firmamız Sağlık Bakanlığı, Tarım Bakanlığı, denetiminde olup her türlü izinleri alınmıştır. Şirketimiz, bugün sektörün en büyük makina parkuruna sahip ve her geçen gün büyüyen sermayesi, makine parkı ve sağladığı istihtam ile ülke ekonomisine büyük katkıda bulunmaktadır.<br>
            <br>
            De-Ta Ambalaj uzman kadrosu ve takım çalışmasıyla gerçekleştirdiği proje yönetimi, kaliteli malzemeyi dünyanın her yerine, zamanında ve uygun maliyetle ulaştırmayı kendisine görev edinmiştir..
        </p>
        <strong>Kalite Prensipleri:</strong> İnsan sağlığını korumak için ilham verici olmak, teknik inovasyonun farkına varılması açısından dönüm noktası niteliğinde olmak, sürekli gelişim sağlanmasına ilişkin yöntemlerin ortaya konması ve müşteri memnuniyeti. &nbsp; &nbsp;
        </p>
    </div>

</div>



