
@{
    ViewBag.Title = "kurumsal";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}<div class="row">
    <div class="col-sm-4 col-lg-3">
        <h3>Hakkımızda</h3>
        <ul class="sidebar-menu">
            <li ><a href="~/Company/hakkimizda">Tiens Hakkında</a></li>

            <li class="active" >
                <a href="~/Company/kurumsal">kurumsal</a>
                
            </li>
           

        </ul>
      

    </div>
    <div class="col-sm-8 col-lg-9 order-lg-first">
        @*<ul class="share-list">
            <li><a href="https://www.facebook.com/share.php?u=http://detaambalaj.com/Company/Deta-kurumsal" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/intent/tweet?text=Tiens&amp;url=http://detaambalaj.com/Company/Deta-kurumsal" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://detaambalaj.com/Company/Deta-kurumsal&amp;title=Deta" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>*@
        <h1>KURUMSAL</h1>
       
    </div>

</div>


